<div *ngIf="course" appCreationDate [directivesCourse]="course">

  <div class="mb-1 mt-1 pt-1 pb-1"  [ngClass]="{topRated:course.isTopRated, notRated:!course.isTopRated}" >
    <div class="w-75 d-flex">
      <h3 class="w-75">{{videoCourse}} {{course.id}}. {{ course.name | uppercase }}<i class="bi bi-star" [ngClass]="{invisible:!course.isTopRated}"></i>
      </h3>
      <div class="w-25 d-flex  justify-content-evenly">
        <p><i class="bi bi-clock"></i>{{ course.length | duration }}</p>
        <p><i class="bi bi-calendar3"></i>{{ course.date | date }}</p>
      </div>

    </div>
    <div class="d-flex">
      <div class="w-75">{{ course.description }}</div>
      <div class="d-flex w-25 align-items-center justify-content-around">
        <button type="button" class="btn btn-primary" [routerLink]="[course.id]" (click)="editEvent()"><i
          class="bi bi-pencil"></i> {{ editCourse }}</button>
        <button type="button" class="btn btn-primary" (click)="deleteEvent()"><i
          class="bi bi-trash"></i> {{ deleteCourse }}</button>
      </div>
    </div>
  </div>

</div>
