<div>
  <app-breadcrumb [course]="course"></app-breadcrumb>
  <div>
    <input placeholder="Title" [(ngModel)]="course.name">
  </div>
  <div>
    <textarea [(ngModel)]="course.description"></textarea>
  </div>
  <input placeholder="Date" [(ngModel)]="course.date">
  <div>
    <input placeholder="Duration" [(ngModel)]="course.length" [ngModelOptions]="{standalone: true}">
    <p>{{course.length | duration}}</p>
  </div>
  <div>
    <input placeholder="Authors">
  </div>
  <div class="example-button-row">
    <button routerLink="/courses" (click)="editCurrentCourse()">{{save}}</button>
    <button routerLink="/courses">{{cancel}}</button>
  </div>
</div>
