<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="padding-left: 3%;padding-right: 3%">
    <div class=" navbar-collapse">
      <a class="navbar-brand me-auto " href="#"><i class="bi bi-play-circle-fill" style="color: darkgreen"></i> VIDEO COURSE</a>
      <form>
        <button class="btn btn-dark" type="submit"><i class="bi bi-person" ></i> User login</button>
        <button class="btn btn-dark" type="submit"><i class="bi bi-box-arrow-right"></i> Log off</button>
      </form>
    </div>
</nav>
