<div appCreationDate [courseDirective]="course">

  <div class="mb-1 mt-1 pt-1 pb-1"  [ngClass]="{topRated:course.topRated, notRated:!course.topRated}" >
    <div class="w-75 d-flex">
      <h3 class="w-75">{{videoCourse}} {{course.id}}. {{ course.title | uppercase }}<i class="bi bi-star" [ngClass]="{invisible:!course.topRated}"></i>
      </h3>
      <div class="w-25 d-flex  justify-content-evenly">
        <p><i class="bi bi-clock"></i>{{ course.duration | duration }}</p>
        <p><i class="bi bi-calendar3"></i>{{ course.creationTime | date }}</p>
      </div>

    </div>
    <div class="d-flex">
      <div class="w-75">{{ course.description }}</div>
      <div class="d-flex w-25 align-items-center justify-content-around">
        <button type="button" class="btn btn-primary" (click)="editEvent()"><i
          class="bi bi-pencil"></i> {{ editCourse }}</button>
        <button type="button" class="btn btn-primary" (click)="deleteEvent()"><i
          class="bi bi-trash"></i> {{ deleteCourse }}</button>
      </div>
    </div>
  </div>

</div>
