<div>
  <div class="bg-white mb-2 mt-2">
    <div class="w-75">
      <h3>{{ course.title }}</h3>
    </div>
    <div class="d-flex">
      <div class="w-75">{{ course.description }}</div>
      <div class="d-flex w-25 align-items-center justify-content-around">
        <button type="button" class="btn btn-primary "><i class="bi bi-pencil"></i> {{ editCourse }}</button>
        <button type="button" class="btn btn-primary" (click)="destruct()"><i
          class="bi bi-trash"></i> {{ deleteCourse }}</button>
      </div>
    </div>
  </div>

  <div class="bg-white mb-2 mt-2">
    <div class="w-75">
      <h3>{{ course.title }}</h3>
    </div>
    <div class="d-flex">
      <div class="w-75">{{ course.description }}</div>
      <div class="d-flex w-25 align-items-center justify-content-around">
        <button type="button" class="btn btn-primary "><i class="bi bi-pencil"></i> {{ editCourse }}</button>
        <button type="button" class="btn btn-primary" (click)="destruct()"><i
          class="bi bi-trash"></i> {{ deleteCourse }}</button>
      </div>
    </div>
  </div>
</div>
