<div class="row bg-light">
  <div class="col-md-4 offset-md-4">
    <div class="login-form bg-white mt-4 p-4">
      <form class="row g-3">
        <h4>{{loginWord}}</h4>
        <div class="col-12">
          <label for="email"></label>
          <input type="email" name="email" id="email" class="form-control" placeholder="Email" [(ngModel)]="email"
                 [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-12">
          <label for="password"></label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                 [(ngModel)]="password"
                 [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-12">
          <a href="">{{forgotWord}}</a>
          <button type="submit" class="btn btn-light float-end" routerLink="/courses"
                  (click)="submitMethod()">{{loginWord}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
