<app-breadcrumb></app-breadcrumb>

<div class="bg-light" style="padding: 15px 5% 10px">

  <nav class="navbar navbar-light bg-light">

    <div class="container-fluid" style="padding-left: 0">

      <form class="d-flex">

        <input class="form-control me-2" type="search" placeholder="Text to search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>

      </form>
    </div>
  </nav>

  <div class="d-flex justify-content-end" style="padding-bottom: 15px">
    <button type="button" class="btn btn-primary" ><i class="bi bi-plus-lg"></i> Add course</button>
  </div>

  <app-page></app-page>

  <div class="bg-white d-flex justify-content-center" style="margin-top: 15px">
    <a href="#">LOAD MORE</a>
  </div>


</div>
