<app-breadcrumb></app-breadcrumb>
<div class="bg-light searchingBar">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid ps-0 form-group">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Text to search" [(ngModel)]="searchText"
               [ngModelOptions]="{standalone: true}" aria-label="Search">
        <button class="btn btn-success" type="button" (click)="showTheSearching(searchText)">{{ search }}</button>
      </form>
    </div>
  </nav>
  <div class="d-flex justify-content-end" style="padding-bottom: 15px">
    <button type="button" class="btn btn-primary"><i class="bi bi-plus-lg"></i> {{ add }}</button>
  </div>
  <app-page [course]=currentCourse (destruction)="deleted()"></app-page>
  <div class="bg-white d-flex justify-content-center" style="margin-top: 15px">
    <a href="#" (click)="showMore()">{{ load }}</a>
  </div>
</div>
